<%- include('./header.ejs', {title: 'Add Event' }) %>

    <div class="container my-3">
        <form action="/sign" method="POST">
            <div class="col-6">
                <h3 class="text-center">Sign Up</h3>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <input type="submit" name="submit" id="s" class="btn btn-success">
                <p class="my-3">Already have account? <a href="/login">Login</a></p>
            </div>
        </form>
    </div>